<%- include('layout/header') %>
<%- include('layout/nav') %>

    <div class="container text-center mt-5">
      <h1 class="display-4">This is About Page, broww</h1>
    </div>

<%- include('layout/footer') %>
